.kanban-board {
  background-color: transparent;
  padding: 0;
}
.kanban-column {
  background-color: transparent;
}
.kanban-card {
  border: 1px solid $color-black;
  background-color: $color-background;
  margin: 0px;
}
.kanban-title {
  border-color: $color-black;
  font-family: $font-family-heading;
  font-weight: bold;
  text-align: left;
}
