.rm-reference-container .flex-h-box strong {
  font-family: $font-family-heading;
  font-size: $font-size;
}

.rm-reference-item {
  background-color: transparent;
}

.rm-ref-page-view-title {
  color: $color-black;
  font-family: $font-family;
}

.rm-zoom-item-content span {
  font-family: $font-family;
  color: $color-gray;
}
.bp3-icon-standard.bp3-icon-chevron-right.rm-mention-icon {
  color: $color-gray;
}
