// Making the pomo OK until i have a good timer component made

// May be an overspecific selector, but this gets the div containin the pomo timer
.rm-block-text span div {
  display: inline;
}

.rm-pomodoro, .rm-pomodoro.running, .rm-pomodoro.break {
  border: 1px solid $color-black;
  padding: 0 $unit 0 0;
  font-size: $font-size;
  min-height: unset;
  height: $unit * 4;
  line-height: $unit * 4;
  border-radius: 0;
  font-size: $font-size-small;
  background-color: $color-green !important; 
  font-weight: normal;

  position: relative;
  top: -2px;

  .block-highlight-blue & {
    border-color: $color-white;
    color: $color-white;
  }
}

.rm-pomodoro.running {
  background-color: $color-pink !important;
  border-color: $color-black;
  color: #fff !important;
  font-weight: normal;
}
.rm-pomodoro.break {
  background-color: $color-gray !important;
  border-color: $color-black;
  color: $color-white !important;
  font-weight: normal;
}

