.rm-find-or-create-wrapper {
  .bp3-popover-target {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    width: 500px;
    left: calc(50% - 250px);
    top: 200px;
  }
  .bp3-popover-target.bp3-popover-open {
    opacity: 1;
    pointer-events: all;
  }

  .bp3-input-group .bp3-input:not(:first-child) {
    padding-left: 8px;
  }
  .bp3-transition-container {
    top: calc(200px + 4rem) !important;
    width: 500px !important;
    left: calc(50% - 250px) !important;
    transform: unset !important;
    position: fixed !important;
  }

  .bp3-menu {
    padding: 0;
    border: 1px solid $color-black;
    border-top: 0px;
    border-radius: 0;
    box-shadow: none;
  }
  .rm-menu-item .rm-search-title {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: normal;
    line-height: 2rem;
  }

  .rm-find-or-create__menu {
    > div:first-child:not(.rm-menu-item) {
      background-color: $color-background;
      font-family: $font-family;
      color: $color-black !important;

      &:before {
        content: "< ";
      }
      &:after {
        content: " >";
      }
    }
  }
  .rm-menu-item {
    padding: 4px 8px;
    border-radius: 0;
    background-color: $color-background;
  }
  .rm-menu-item .rm-search-list-item {
    color: $color-black;
    font-family: $font-family;
    font-size: $font-size;
    min-height: 2rem;
    line-height: 2rem;
  }

  .rm-menu-item .rm-search-title .rm-label {
    color: $color-black;
    font-weight: bold;
  }

  .bp3-icon.bp3-icon-search.search-icon {
    display: none;
  }
}

#find-or-create-input {
  background-color: $color-background;
  border-radius: 0;
  border: 1px solid $color-black;
  box-shadow: none;
  height: 4rem;
  line-height: 4rem;
  font-size: $font-size-heading;
  font-family: $font-family-heading;
}

.bp3-popover {
  box-shadow: none;
}
