$color-pink: #EF476F;
$color-yellow: #FFD166;
$color-green: #06D6A0;
$color-blue: #118AB2;
$color-dark-blue: #073B4C;
$color-black: rgb(39, 39, 39);
$color-white: #fff;
$color-light-gray: #e4e4e4;
$color-gray: #bbb;

$color-background: #FFFAF3;

$unit: 4px;
$font-family: 'Playfair Display';
$font-family-heading: 'Playfair Display';
$font-size: 4 * $unit;
$font-size-heading: 2rem;
$font-size-small: 3 * $unit;
// Set so that REM is all nice 
html { font-size: $font-size }

$link-shadow: #fff;
$transition: 0.25s;
